.button {
  background-color: rgba(165, 199, 249, 1);
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  padding: 10px 17px;
  background: #06d85f;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 400;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  padding: 8px 15px;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.popup .close:hover {
  background-color: rgba(127, 175, 246, 1);
  color: white;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
